* {
  margin: 0;
  padding: 0
}

li {
  list-style-type: none
}

button {
  border: none;
  outline: none;
}

.btn {
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666;
  border: 1px solid blue;
  background: #fff;
  cursor:pointer;
}
.btn.current{background: blue;color:#fff;}